body {
    margin: 0;
    padding: 0;
    background-color: blue;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.content {
    grid-column: 2 / 4;
    grid-row: 1;
}